@media screen {
	* {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	html {
		min-height: 130%;
		background: white;
	}

	body {
		font: 400 12px/18px Arial, sans-serif;
		color: #22313F;
	}

	*:focus {
		outline: none;
	}

	.container {
		width: 800px;
		margin: 0 auto;
	}
		#header {
			padding: 50px 0;
		}

	h1 {
		margin-bottom: 1.5em;
	}

	.accordion .toggler {
		display: block;
		width: 100%;
		float: left;
		clear: both;
		width: 100%;
		padding: 8px 15px;
		margin-top: 0;
		background: #52B3D9;
		cursor: pointer;
	}
	.accordion .toggler.current {
		background-color: #D35400;
	}

	.accordion .togglerBox {
		clear: both;
		width: 100%;
		float: left;
	}
		.accordion .togglerBox p {
			margin-top: 0;
		}
}